body {
  font-family: Tahoma, sans-serif;
}

.portfolio {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 20px;
  padding-top: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h1,
h2,
p {
  text-align: center;
}

p {
  font-size: 18px;
}

section p {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 40px;
  margin: 0 20px;
}

.headshot {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
}

form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;

}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  font-family: Tahoma, serif;
  font-size: 16px;
}

.success-alert {
  display: none;
}

.failure-alert {
  display: none;
}